<div id="issue_info">
	<ul class="lineal" id="volume_info">
		<li id="volume_name"><%= issue.volume.name %></li>
		<li id="issue_number"><%= issue.issue_number %></li>
	</ul>
	<h1 id="issue_name"><%= issue.name %></h1>
	<img src="<%= issue.image.super_url %>" id="issue_cover" />
	<div id="issue_description"><%= issue.description %></div>
</div>