body{
	font-family:'Segoe UI', 'Myriad Pro';
}
#issue_info{
	width:600px;
	background:#eeeeee;
	margin:0 auto;
	padding:20px;
	background:white;
	overflow:hidden;
	border-radius:5px;
	-webkit-box-shadow: 1px 1px 10px #000000;
}
ul{
	list-style:none;
	margin:0;
	padding:0;
}
ul.lineal li{
	display:inline-block;
	margin:0;
	padding:4px 10px;
	/*border:solid 1px #5f8dc2;
	background:-webkit-gradient(linear, 0 0, 0 bottom, from(#8cacd3), to(#6e97c8));
	background:-moz-linear-gradient(#8cacd3, #6e97c8);
	background:linear-gradient(#8cacd3, #6e97c8, 100%);*/
	text-shadow:1px 1px #9ab7d9;
	color:#396497;
}
ul.lineal#volume_info{
	font-variant:small-caps;
}
ul.lineal#volume_info li#volume_name{
	font-weight:bold;
}
h1#issue_name{
	font-family:'Droid Serif', 'Cambria';
	margin:0;
}
#issue_description{
	font-family: 'Indie Flower';
	font-size:1.3em;
	line-height:1.4em;
}
img#issue_cover{
	float:right;
	margin:10px;
	padding:10px;
	width:250px;
	-webkit-box-shadow: 1px 1px 5px #888888;
}