<h2>Series:</h2>
<ul>
	<li><a href="/volumes/2128">The Avengers (1963)</a></li>
	<li><a href="/volumes/2127">The Amazing Spider-Man (1963)</a></li>
	<li><a href="/volumes/25512">Dark Avengers (2009)</a></li>
</ul>